.card__trash {
  margin: 18px 15px 0 0;
  padding: 0;
  width: 18px;
  height: 19.3px;
  background-color: transparent;
  border-width: 0;
  background-image: url(../../../images/trash.svg);
  background-repeat: no-repeat;
  /*позтционирование
  и выравнивание в сетке*/
  grid-column: 2;
  grid-row: 1;
  align-self: start;
  justify-self: end;
  z-index: 1;
}

.card__trash:hover {
  opacity: 0.6;
  transition: opacity 0.5s ease;
  cursor: pointer;
}
