.profile__patchavatar-btn {
  padding: 0;
  width: 26px;
  height: 26px;
  border-width: 0;
  background-color: transparent;
  background-image: url(../../../images/profile__patchavatar-btn.svg);
  visibility: hidden;
}

.profile__patchavatar-btn:hover {
  cursor: pointer;
}
