.profile__avatar-container {
  position: relative;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  overflow: hidden;
}

.profile__avatar-container:hover .profile__avatar-overlay {
  background: rgba(0, 0, 0, 0.8);
}

.profile__avatar-container:hover .profile__patchavatar-btn {
  visibility: visible;
}

@media all and (max-width : 920px) {
  /* стили для планшета */
  .profile__avatar-container {
    justify-self: center;
  }
}
