@import url(./__copyright/footer__copyright.css);

.footer {
  margin: 66px auto 0;
  max-width: 882px;
  padding-bottom: 60px;
}

@media all and (max-width : 920px) {
  /* стили для планшета */
  .footer {
    margin-top: 48px;
    max-width: 582px;
    padding-bottom: 36px;
  }
}

@media all and (max-width : 620px) {
  /* телефоны */
  .footer {
    max-width: 282px;
  }
}
