.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0px 0px;
  /*позтционирование
  и выравнивание в сетке*/
  grid-column: 1/-1;
  grid-row: 1;
}

.card__image:hover {
  cursor: pointer;
}
